* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px;
    background-color: #e7fffa;
}

.container {
    display: grid;
    grid-template-columns: 150px 500px;
    grid-template-rows: auto auto auto;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color:#001b15
}

a:link {
  color: #008163; /* Blue */
}

a:visited {
  color: #006b52; /* Purple */
}

.box {
    background-color: rgb(241, 255, 248);
    border: 2px solid #002930;
    border-radius: 30px;
    padding: 30px;
    
    justify-content: center;
    text-align: left;
}

.box-top-left {
    grid-column: 2;
    grid-row: 1;
 
}

.box-bottom-left {
    grid-column: 2;
    grid-row: 2;

}

.box-bottomer-left {
    grid-column: 2;
    grid-row: 3;

}

.box-right {
    grid-column: 1;
    grid-row: 1 ;
    padding: 0;
    overflow: hidden;
    display: flex;
}

.box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

ul {
    padding-left: 15px;
}